body{
    margin: 0;
    padding: 0;
    background-color:#e1e1e1;
    font-family: 'Ubuntu', sans-serif;
}
#start{
    background-color:#F68E56;
    width: 80vw;
    height: 100vh;
    margin-left: 10vw;
}
.tekst{
    width: 100%;
    text-align: center;
    color: rgb(255,255,255);
    font-size: 5vh;
}

#logo{
    background-image: url(./logo.png);
    width: 80%;
    height: 50%;
    margin-left: 10%;
    padding-top: 50vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
}
#bt1{
    background-color: rgb(150,150,150);
    width: 80%;
    margin-left: 10%;
    font-size: 5vh;
    color: white;
    text-align: center;
    margin-top: 5%;
}
#main{
    background-color:#E1E1E1;
    width: 80%;
    margin: 0 auto;
    margin-top: 40px;
}
#cash{
    color: black;
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    display: block;
    outline: none;
    border:none;
}
#preferences{
    padding-top: 5%; 
}

ul{
    margin: 0;
    padding: 0;
}

#map {
    width: 80%;
    height: 300px;
    margin: 0 auto;
}

li{
    list-style: none;
    margin: 10px auto;
    transition: background-color 0.5s ease;
    width: 80%;
    cursor: pointer;
    padding: 10px 5px;
}

li:hover{
    background-color: #FD8A55;
}

li label{
    font-size: 25px;
    width: calc(95% - 24px);
    display: inline-block;
    padding-left: 10px;
}

#getData{
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
}
#tekst2{
    margin-top: 200px;
}

#sticky-header{
    background-color: #E1E1E1;
    position: absolute;
    top: 0;
    left: 0;
    right:0;
    height: 180px;
    width: 100%;
    background-image: url("header.png");
}

#search{
    border-radius: 180px;
    width: 90px;
    height: 90px;
    margin:  0 auto;
    margin-top: 20px;
    cursor: pointer;
    background: #FD8A55 url("icons/search.png") no-repeat 10px;
}

/*LIST left right*/
.block{
    width: 80%;
    margin: 0 auto;
    background-color: white;
    display: block;
    margin-top: 20px;
    padding-bottom: 10px;
}
.left{
    width: 48%;
    float: left;
    display: inline-block;
}

.right{
    width: 48%;
    float: right;
    display: inline-block ;
}

#map{
    margin-top: 20px;
}

.title{
    text-align: center;
    padding-top: 10px;
    font-size: 14px;
}

.line{
    width: 92%;
    height: 2px;
    margin: 5px auto;
    background-color: black;
    display: block;

}